body
{
    font-family: 'Courier New';
    color: aquamarine;
    text-align: center;
    background-color: black;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 5px solid darkcyan;
    margin: 0 auto;
}

#contaoner h1
{
    font-size: 20px;
}