body
{


    font-family: "Calibri";
    color: #c2a3d5;
    text-shadow: 2px 2px 2px #000000;

    text-align: center;
    background-color: #FDEBED;
}
#container
{
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 5px solid rgb(28, 81, 81);
    margin: 0 auto;
}

#contaoner h1
{
    font-size: 20px;
}

#cabeza
{
    background: #B5F1CC;
    color: #FEBE8C;
    font-weight: bold; 
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    height: 5%;

}

#post
{
 padding: 0;

 text-shadow: 1px 1px 2px #000000 ;

}

